body {
  min-height: 100%;
  background: url(/images/books.jpg);
  background-size: 100%
}

#content {
  margin: auto;
  margin-top: 3em;
  padding: 0.5em 2em;
  background-color: rgba(50, 50, 50, 0.8);
  width: 1000px;
  border-radius: 2em;
  color: white;
}

